body {
  font-family: 'Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
	font-size: 14px;
	background-color: #eee;
}

pre {
	margin: 0;
}

table, td {
    border-color: #cdcdcd;
    border-style: solid;
}

table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    background-color: #eee;
}

#cca_title {
	float: left;
	margin-top: 0;
	margin-bottom: 5px;
}

#cca_title a {
	text-decoration: none;
}

.small_horizontal_spacer {
	float: left;
	width: 5px;
	height: 5px;
}

.edit_row_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/edit_row.png');
}

h3.popover-title {
	margin: 0;
}

.delete_row_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/delete_row.png');
}

.increment_counter_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/increment_counter.png');
}

.decrement_counter_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/decrement_counter.png');
}

#menu .menu_item .create_column_family {
	background: url('../imgs/create_column_family.png');
}

#menu .menu_item .edit_column_family {
	background: url('../imgs/edit_column_family.png');
}

#menu .menu_item .truncate_column_family {
	background: url('../imgs/truncate_column_family.png');
}

#menu .menu_item .drop_column_family {
	background: url('../imgs/drop_column_family.png');
}

#menu .menu_item a {
	color: #fff;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.clear_both {
	clear: both;
}

form div {
	margin-bottom: 5px;
}

.insert_row_column_name {
	float: left;
	width: 250px;
	margin-bottom: 0;
}

form label {
	width: 280px;
	float: left;
}

form .form_label {
	float: left;
	margin-bottom: 0;
}

form .form_label_help {
	float: right;
	margin: 0 5px;
	font-weight: bold;
}

form div .clear_label {
	margin: 0;
	clear: both;
}

.form_tips {
	font-size: smaller;
}

input[type=text], input[type=password] {
	width: 300px;
}

input[type=text].smaller,textarea.smaller {
	width: 220px;
}

input[type=text].tiny {
	width: 50px;
}

select {
	width: 300px;
}

.tooltip {
   position: absolute;
   padding: 0 10px;
   z-index: 2;
   
   color: #303030;
   background-color: #f5f5b5;
   border: 1px solid #DECA7E;
   font-weight: normal;
   text-align: justify;
   
   width: 330px;
}

#cluster_selection {
	margin-bottom: 20px;
}

#cluster_info {
	width: 100% - 50px;
}

a, a:visited {
	color: #0088CC;
}

#footer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	font-size: smaller;
}

/*
	JMX
*/

.jmx_trigger_button {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
}

#heap_memory_usage_graph,#non_heap_memory_usage_graph {
	width: 400px;
	height: 200px;
	margin-bottom: 20px;
}

.jmx_tp_stats_container {
	float: left;
	margin-left: 40px;
	margin-bottom: 20px;
}

#columnfamily_details {
	max-width: 400px;
}

.composite_value {font-size:14px;}
.composite_value b {color:blue;}

#keyspaces {
	width: 100% - 50px;
}

#keyspaces li {
	list-style-type: none;
	padding: 3px;
	margin: 3px;
	padding: 3px;
}

#navigation td {
	width: 50%;
	cursor: pointer;
}

font.cluster_name {
	font-weight: bold;
	font-size: 16px;
}

table.kcfs td {
	width: 50%;
}

table.kcfs a {
	text-decoration: none;
}

table.kcfs a:hover {
	text-decoration: underline;
}
