body {
	font-family: 'Lucida Grande','Lucida Sans Unicode','Geneva','Verdana',sans-serif;
	font-size: 14px;
	background-color: #eee;
}

pre {
	margin: 0;
}

table, td {
    border-color: #cdcdcd;
    border-style: solid;
}

table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    background-color: #eee;
}

#cca_title {
	float: left;
	margin-top: 0;
}

#menu {
	margin-top: 20px;
}

#menu .menu_item {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #212121;
	background-color: #ccc;
	width: 200px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#menu .menu_item:hover {
	background-color: #bbb;
}

#menu .menu_item .icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
}

#menu .menu_item .create_keyspace {
	background: url('../imgs/create_keyspace.png');
}

#menu .menu_item .edit_keyspace {
	background: url('../imgs/edit_keyspace.png');
}

#menu .menu_item .drop_keyspace {
	background: url('../imgs/drop_keyspace.png');
}

#menu .menu_item .browse_data {
	background: url('../imgs/browse_data.png');
}

#menu .menu_item .create_secondary_index {
	background: url('../imgs/create_secondary_index.png');
}

#menu .menu_item .drop_secondary_index {
	background: url('../imgs/drop_secondary_index.png');
}

#menu .menu_item .get_key {
	background: url('../imgs/get_key.png');
}

#menu .menu_item .insert_row {
	background: url('../imgs/insert_row.png');
}

#menu .menu_item .counters {
	background: url('../imgs/counters.png');
}

.small_horizontal_spacer {
	float: left;
	width: 5px;
	height: 5px;
}

.edit_row_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/edit_row.png');
}

.delete_row_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/delete_row.png');
}

.increment_counter_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/increment_counter.png');
}

.decrement_counter_icon {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 5px;
	background-image: url('../imgs/decrement_counter.png');
}

#menu .menu_item .create_column_family {
	background: url('../imgs/create_column_family.png');
}

#menu .menu_item .edit_column_family {
	background: url('../imgs/edit_column_family.png');
}

#menu .menu_item .truncate_column_family {
	background: url('../imgs/truncate_column_family.png');
}

#menu .menu_item .drop_column_family {
	background: url('../imgs/drop_column_family.png');
}

#menu .menu_item a {
	color: #fff;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.clear_both {
	clear: both;
}

form div {
	margin-bottom: 5px;
}

.insert_row_column_name {
	float: left;
	width: 250px;
	margin-bottom: 0;
}

form label {
	width: 280px;
	float: left;
}

form .form_label {
	float: left;
	margin-bottom: 0;
}

form .form_label_help {
	float: right;
	margin: 0 5px;
	font-weight: bold;
}

form div .clear_label {
	margin: 0;
	clear: both;
}

.form_tips {
	font-size: smaller;
}

input[type=text], input[type=password] {
	width: 300px;
}

input[type=text].smaller {
	width: 220px;
}

input[type=text].tiny {
	width: 50px;
}

select {
	width: 300px;
}

.tooltip {
   position: absolute;
   padding: 0 10px;
   z-index: 2;
   
   color: #303030;
   background-color: #f5f5b5;
   border: 1px solid #DECA7E;
   font-weight: normal;
   text-align: justify;
   
   width: 330px;
}

#cluster_selection {
	margin-bottom: 20px;
}

#cluster_info {
	border: 1px solid #000;
	background-color: #e8e8e8;
	width: 500px;
	padding: 3px 10px 20px 10px;
}

a, a:visited {
	color: #777;
}

.table_secondary_index {
	margin-bottom: 10px;
}

#footer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	font-size: smaller;
}

.info_message {
    color: #00529B;
	border: 1px solid #00529B;
    background-color: #BDE5F8;
	padding: 10px;
	margin: 10px 0;
	width: 600px;
}
.success_message  {
    color: #4F8A10;
	border: 1px solid #4F8A10;
    background-color: #DFF2BF;
	padding: 10px;
	margin: 10px 0;
	width: 600px;
}
.warning_message  {
    color: #9F6000;
	border: 1px solid #9F6000;
    background-color: #FEEFB3;
	padding: 10px;
	margin: 10px 0;
	width: 600px;
}
.error_message  {
    color: #D8000C;
	border: 1px solid #D8000C;
    background-color: #FFBABA;
	padding: 10px;
	margin: 10px 0;
	width: 600px;
}