*.swp
*.swo
*.diff
*.pyc
doc/_build/*
thrift/ext/thrift_protocol/.deps
thrift/ext/thrift_protocol/.libs/
thrift/ext/thrift_protocol/Makefile
thrift/ext/thrift_protocol/Makefile.fragments
thrift/ext/thrift_protocol/Makefile.global
thrift/ext/thrift_protocol/Makefile.objects
thrift/ext/thrift_protocol/acinclude.m4
thrift/ext/thrift_protocol/aclocal.m4
thrift/ext/thrift_protocol/autom4te.cache/
thrift/ext/thrift_protocol/build/
thrift/ext/thrift_protocol/config.guess
thrift/ext/thrift_protocol/config.h
thrift/ext/thrift_protocol/config.h.in
thrift/ext/thrift_protocol/config.log
thrift/ext/thrift_protocol/config.nice
thrift/ext/thrift_protocol/config.status
thrift/ext/thrift_protocol/config.sub
thrift/ext/thrift_protocol/configure
thrift/ext/thrift_protocol/configure.in
thrift/ext/thrift_protocol/install-sh
thrift/ext/thrift_protocol/libtool
thrift/ext/thrift_protocol/ltmain.sh
thrift/ext/thrift_protocol/missing
thrift/ext/thrift_protocol/mkinstalldirs
thrift/ext/thrift_protocol/modules/
thrift/ext/thrift_protocol/php_thrift_protocol.lo
thrift/ext/thrift_protocol/run-tests.php
thrift/ext/thrift_protocol/thrift_protocol.la
thrift/ext/thrift_protocol/tmp-php.ini
